.userslist
    padding-top: 1rem
    padding-bottom: 1rem

    &-header
        display: flex
        justify-content: space-between
        align-items: end

        height: 3rem

        h1
            padding-left: 1rem

        &__left
            display: flex
            align-items: end

.table
    width: 100%

    margin-top: 2rem
    margin-bottom: 2rem

    box-sizing: border-box

    &-head
        tr
            th
                padding-left: 1rem
                padding-right: 1rem

                background-color: $light-blue
                border-bottom: 2px solid $blue

                font-size: 1.6rem
                font-weight: bold

                text-align: left          

    &-body
        tr
            td
                padding-left: 1rem
                padding-right: 1rem
                padding-top: 1.5rem
                padding-bottom: 1.5rem

                background-color: #fff
                border-bottom: 2px solid $blue

                font-size: 1.4rem
                text-align: left

    &-wrapper
        max-width: 128rem
        overflow: hidden

    &__btn
        padding-top: 1.5rem
        padding-bottom: 1.5rem

        background-color: inherit   

        cursor: pointer

        svg
            margin-left: 1rem

            transition: transform 0.1s ease
        
        &--active
            svg
                transform: rotate(-180deg)